table {
  width: 100%;
  background: #90c0f0;
  border: 2px solid #fff;
  margin: 0;
  width: 600px;
}
table.rsp {
  float: left;
  width: 33.3%;
  text-align: left;
}
table.rsp td,
table.rsp th {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header {
  background: #ffffff url(./header.jpg) left center no-repeat;
  background-size: cover;
}
